{% extends 'base.html.twig' %}

{% block title %} De rijke schooldag{% endblock %}

{% block body %}
    <div class="container my-5">
        <p class="text-center my-3">
            Kinderen hebben recht op gelijke kansen. Ieder kind moet zijn talenten kunnen ontdekken en zich volledig kunnen ontwikkelen, ongeacht hun achtergrond of financiële situatie. De Rijke Schooldag is in het leven geroepen om alle kinderen de kans te geven om zich verder te verrijken door deel te kunnen nemen aan leuke sportieve en culturele activiteiten. Wij zijn als organisatie op allelei manier ondersteunend bij dit programma. Klik op onderstaande buttons om meer te weten te komen over de mogelijkheden die wij bieden.
        </p>
        <div class="row justify-content-center">
            <div class="col-md-4 p-2">
                <div class="col-12 bg-blue d-flex align-baseline justify-content-center flex-column py-4">
                    <a class="btn button-orange mx-auto" href="{{ path('app_login') }}">Inloggen</a>
                    <img class="img-fluid mx-auto" src="{{ asset('images/children.png') }}" alt="spelende kinderen">
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="col-12 bg-orange d-flex align-baseline justify-content-center flex-column py-4">
                    <a class="btn button-blue-reverse mx-auto" href="{{ path('app_register') }}">Registreren</a>
                    <img class="img-fluid mx-auto" src="{{ asset('images/children.png') }}" alt="spelende kinderen">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
