<img src="{{ asset('images/logo.png') }}" alt="logo"/>
<p> Om uw wachtwoord te resetten, klik op de volgende link: </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Deze link is geldig voor {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Bedankt!</p>
