{% extends 'base.html.twig' %}

{% block title %}De rijke schooldag{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="mb-4 text-center">Inschrijven</h1>

                <div class="card p-4">

                    <div class="form-group mb-3">
                        <h3 class="h5 mb-3">Voor wie wilt u inschrijven?</h3>
                        {{ form_start(form) }}

                        {# Render the collection of signups #}
                        {{ form_row(form.child) }}
                        {{ form_row(form.activityDate) }}

                        <button class="btn btn-success">Submit</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .signup-form {
            max-width: 600px;
            margin: auto;
        }
        .form-check-inline {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .form-check-label {
            font-weight: 500;
            padding-left: 10px;
        }
        .card {
            border-radius: 10px;
            border: none;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            padding: 10px 20px;
            font-size: 1.2rem;
        }
    </style>
{% endblock %}