{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if ea.crud.currentAction == 'detail' %}
    <table class="table table-striped">
        <tr><th>Naam</th><th>Beschrijving</th><th>Datum</th></tr>
        {% for value in field.value %}
            <tr>
                <td>{{ value.name }}</td>
                <td>{{ value.description }}</td>
                <td>{{ value.date|date('Y-m-d H:i:s')}}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% endif %}