<img src="https://i.imgur.com/dibx5dd.png" alt="logo"/>

<p>
    Er is een contact formulier ingevuld:
</p>

<p>
    <strong>Naam:</strong> {{ form.name }}<br>
    <strong>Categorie:</strong> {{ form.category }}<br>
    <strong>Email:</strong> {{ form.email }}<br>
    <strong>Bericht:</strong> {{ form.message }}
</p>
